In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
labels = ['a','b','c']

In [4]:
my_data = [10,20,30]

In [5]:
arr = np.array(my_data)

In [6]:
d = {'a':10,'b':20,'c':30}

In [7]:
pd.Series()

Series([], dtype: object)

In [8]:
pd.Series(data = my_data)

0    10
1    20
2    30
dtype: int64

In [9]:
pd.Series(data=my_data,index=labels)

a    10
b    20
c    30
dtype: int64

In [10]:
pd.Series(my_data,labels)

a    10
b    20
c    30
dtype: int64

In [11]:
pd.Series(arr,labels)

a    10
b    20
c    30
dtype: int64

In [12]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [13]:
d

{'a': 10, 'b': 20, 'c': 30}

In [14]:
pd.Series(data=labels)

0    a
1    b
2    c
dtype: object

In [15]:
pd.Series(data=[sum,print,len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [16]:
ser1 = pd.Series([1,2,3,4],['India','Germany','USSR','Japan'])

In [17]:
ser1

India      1
Germany    2
USSR       3
Japan      4
dtype: int64

In [18]:
ser2 = pd.Series([1,2,4,5],["USA","India","Germany","Japan"])

In [19]:
ser2

USA        1
India      2
Germany    4
Japan      5
dtype: int64

In [20]:
ser1[0]

/var/folders/p2/zc212sp14zxdyvjqklws806r0000gn/T/ipykernel_12745/3210674954.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  ser1[0]

1

In [21]:
ser1['India']

1

In [22]:
ser1['Germany']

2

In [23]:
ser1['Japan']

4

In [25]:
ser2['India']

2

In [26]:
ser1 +ser2

Germany    6.0
India      3.0
Japan      9.0
USA        NaN
USSR       NaN
dtype: float64

In [27]:
import numpy as np 
import pandas as pd

In [28]:
from numpy.random import randn

In [29]:
np.random.seed(101)

In [34]:
df = pd.DataFrame(randn(5,4),['A','B','C','D','E'],['W','X','Y','Z'])

In [ ]:
# row --> Horizontal, column --> Vertical

In [32]:
df

          W         X         Y         Z
A  0.302665  1.693723 -1.706086 -1.159119
B -0.134841  0.390528  0.166905  0.184502
C  0.807706  0.072960  0.638787  0.329646
D -0.497104 -0.754070 -0.943406  0.484752
E -0.116773  1.901755  0.238127  1.996652

In [35]:
df['W']

A    0.386030
B    0.681209
C   -1.005187
D   -1.382920
E    0.992573
Name: W, dtype: float64

In [36]:
type(df['W'])

pandas.core.series.Series

In [37]:
df['X']

A    2.084019
B    1.035125
C   -0.741790
D    1.482495
E    1.192241
Name: X, dtype: float64

In [38]:
df[['W','Z']]

          W         Z
A  0.386030  0.230336
B  0.681209  1.939932
C -1.005187 -0.732845
D -1.382920 -2.141212
E  0.992573  1.292765

In [42]:
df['new'] = df['W'] + df['Z']

In [43]:
df

          W         X         Y         Z       new
A  0.386030  2.084019 -0.376519  0.230336  0.616367
B  0.681209  1.035125 -0.031160  1.939932  2.621142
C -1.005187 -0.741790  0.187125 -0.732845 -1.738032
D -1.382920  1.482495  0.961458 -2.141212 -3.524132
E  0.992573  1.192241 -1.046780  1.292765  2.285338

In [44]:
df.drop('new',axis = 1)

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [46]:
df.drop('new',axis=1,inplace=True)

In [47]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212
E  0.992573  1.192241 -1.046780  1.292765

In [48]:
df.drop('E',axis = 0,inplace=True)

In [49]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212

In [50]:
df.shape

(4, 4)

In [51]:
# (row,column)

In [52]:
df.loc['A']

W    0.386030
X    2.084019
Y   -0.376519
Z    0.230336
Name: A, dtype: float64

In [53]:
df.loc['B','Y']

-0.031160481493099617

In [55]:
df.loc[['A','B'],['W','X']]

          W         X
A  0.386030  2.084019
B  0.681209  1.035125

In [56]:
df

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212

In [57]:
df > 0

       W      X      Y      Z
A   True   True  False   True
B   True   True  False   True
C  False  False   True  False
D  False   True   True  False

In [58]:
df < 0

       W      X      Y      Z
A  False  False   True  False
B  False  False   True  False
C   True   True  False   True
D   True  False  False   True

In [59]:
booldf = df > 0

In [60]:
df[booldf]

          W         X         Y         Z
A  0.386030  2.084019       NaN  0.230336
B  0.681209  1.035125       NaN  1.939932
C       NaN       NaN  0.187125       NaN
D       NaN  1.482495  0.961458       NaN

In [62]:
df['W']> 0

A     True
B     True
C    False
D    False
Name: W, dtype: bool

In [63]:
df[df['W'] > 0]

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932

In [64]:
df[df['Z'] < 0]

          W         X         Y         Z
C -1.005187 -0.741790  0.187125 -0.732845
D -1.382920  1.482495  0.961458 -2.141212

In [65]:
df[df['W'] > 0]

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932

In [66]:
df[df['Y'] < 0]

          W         X         Y         Z
A  0.386030  2.084019 -0.376519  0.230336
B  0.681209  1.035125 -0.031160  1.939932

In [67]:
resultd = df[df['W'] > 0]

In [69]:
resultd['X']

A    2.084019
B    1.035125
Name: X, dtype: float64

In [70]:
df[df['W'] > 0 ]['X']

A    2.084019
B    1.035125
Name: X, dtype: float64